div {
    background: lightblue;
    font-size: 18px;
    font-style: oblique;
    width: 1360px;
    height: 50px;
    text-decoration: orange;
}
td {
    color: darkred;
    text-align: center;
    height: 50px;

}
table {
    border: 1px;
    mso-cellspacing: 0;
}